<!DOCTYPE html>
<html lang="ko">
<head>
    <!--@@include = ./meta.html-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

<main>
    <div id="elm-target">
        <!-- entry point-->
        <div class="container">
            <div class="sidebar">
                <header>
                    <h1>eoshub</h1>
                    <button type="button" id="lnbToggleButton" class="folding button" aria-hidden="true">사이드바 영역 닫기/열기</button>

                    <!-- demo script :: sidebar fold/unfold -->
                    <script>
                        (function () {
                            var button = document.querySelector('header > button'),
                                target = document.querySelector('div.sidebar');
                            
                            button.addEventListener('click',function (){
                                target.classList.contains('fold') ? target.classList.remove('fold') : target.classList.add('fold');
                            });
                        })();
                    

                    </script>
                </header>

                <!-- 로그인 전 -->
                <!-- @@placeholder = dashboard -->

                <nav>
                    <div class="sns_area">
                        <!-- sns 링크 -->
                        <a href="#" class="sns fb button">Go to facebook</a>
                        <a href="#" class="sns twitter button">Go to Twitter</a>
                        <a href="#" class="sns telegram button">Go to Telegram</a>
                    </div>

                    <div class="lang_area">
                        <!-- 번역 function -->
                        <button type="button" class="lang ko transparent button" data-lang="ko">한글</button>
                        <button type="button" class="lang en transparent button" data-lang="en">ENG</button>
                    </div>
                </nav>
            </div>

            <div class="wrapper">
                <!-- @@placeholder = main --> 
            </div>
        </div>
        <!-- // entry point-->
    </div>
</main>
</body>
</html>
